table {
	* {
		border: 0;
	}
}

table.event-schedule {
	tr {
		margin-bottom: 0.5rem;
	}

	td {
		padding: 0;
		padding-top: 0.3rem;
    	padding-bottom: 1rem;
    	vertical-align: top;
		font-size: 1rem;
		@media (min-width: 650px) {
			font-size: inherit;
		}
	}

	tr.start-of-day {
		border-top: 1px solid @accent;

		td:nth-child(1) {
			width: 7rem;
			@media (min-width: 650px) { width: 20rem; }
		}
		td:nth-child(2) {
			width: 5rem;
			@media (min-width: 650px) { width: 10rem; }
		}
		td:nth-child(3) {
			width: 10rem;
			@media (min-width: 650px) { width: 20rem; }
		}
		td:nth-child(4) {
			width: auto;
			@media (min-width: 650px) { width: auto; }
		}

	}

	// Day column
	tr > td:first-child {
		font-weight: bold;
		font-size: 1rem;
		line-height: 0.9;
		padding-bottom: 2rem;	

		@media (min-width: 650px) {
			font-weight: bold;
			font-size: 3rem;
			line-height: 0.9;
			padding-bottom: 2rem;
		}
	}

	tr + tr.start-of-day {
		border-top: 1px solid @accent;
	}
}